</section>
<div class="holy-grail-sidebar-1 hg-sidebar">
</div>


<div class="holy-grail-sidebar-2 hg-sidebar">
    <% if (success) { %>
        <div class='yelpResultsContainer'>
        <% for (let restaurant of data.restaurants) { %>
            <div class='yelpResults'>
                <div class="yelpResultsName"><%=restaurant.name%></div>
                <div class="yelpResultsAddress"><%=restaurant.location.address1%> <%=restaurant.location.address2%> <%=restaurant.location.address3%></div>
                <div class="yelpResultsAddress"><%=restaurant.location.city%>,<%=restaurant.location.state%> <%=restaurant.location.zip_code%></div>
                <div class="yelpResultsTelephone"><%=restaurant.display_phone%> | <%=restaurant.price%></div>
                <div class="yelpResultsRating"><img class="yelpRating<%=restaurant.rating%>" src="../assets/yelp_stars/web_and_ios/regular/regular_<%=restaurant.rating%>.png"></div>
            </div>
        <% } %>
    </div>
    <% } %>
</div>

</div>

<footer>
Shannon Maloy - 2020
</footer>

<script src="/src/main.js"></script>
<script src="/src/sample.js"></script>

</body>
</html>