<%- include ('../partials/boilerplate') %>


<div class="yelpSearchContainer">
  <div class="restaurantDetailMessage">
      <div class='restaurantResultMessage'>Welcome <%=data.user.name%>!!  <a href='/user/edit/<%=data.user.id%>'>Click Here</a> To Update Your User Profile</div>
      
  </div>
  <div>(What's For Dinner) Selection History:</div>
  <% if (1<0) { %>
      <div class='yelpResultsContainer'>
      <% for (let restaurant of data.restaurants) { %>
              <div class='yelpResults'>
              <div class="yelpResultsName"><a href="/restaurant/detail/<%=restaurant.alias%>"><%=restaurant.name%></a></div>
              <div class="yelpResultsAddress"><%=restaurant.location.address1%> <%=restaurant.location.address2%> <%=restaurant.location.address3%></div>
              <div class="yelpResultsAddress"><%=restaurant.location.city%>,<%=restaurant.location.state%> <%=restaurant.location.zip_code%></div>
              <div class="yelpResultsTelephone"><%=restaurant.display_phone%> | <%=restaurant.price%></div>
              <div class="yelpResultsRating"><img class="yelpRating<%=restaurant.rating%>" src="../assets/yelp_stars/web_and_ios/regular/regular_<%=restaurant.rating%>.png"></div>
          </div>
      <% } %>
  </div>
  <% } %>
<script src="/src/main.js"></script>
<script src="/src/sample.js"></script>

<%- include ('../partials/end') %>