<%- include ('../partials/boilerplate') %>
<div class="yelpSearchContainer">
        <div class="restaurantDetailMessage">
            <div class='restaurantResultMessage'>You're one step closer to a full belly!  Click on your results to find out more and to make your choice!</div>
            
        </div>

        <% if (success) { %>
            <div class='yelpResultsContainer'>
            <% for (let restaurant of data.restaurants) { %>
                    <div class='yelpResults'>
                    <div class="yelpResultsName"><a href="/restaurant/detail/<%=restaurant.alias%>"><%=restaurant.name%></a></div>
                    <div class="yelpResultsAddress"><%=restaurant.location.address1%> <%=restaurant.location.address2%> <%=restaurant.location.address3%></div>
                    <div class="yelpResultsAddress"><%=restaurant.location.city%>,<%=restaurant.location.state%> <%=restaurant.location.zip_code%></div>
                    <div class="yelpResultsTelephone"><%=restaurant.display_phone%> | <%=restaurant.price%></div>
                    <div class="yelpResultsRating"><img class="yelpRating<%=restaurant.rating%>" src="../assets/yelp_stars/web_and_ios/regular/regular_<%=restaurant.rating%>.png"></div>
                </div>
            <% } %>
        </div>
        <% } %>

</div>
<%- include ('../partials/end') %>